// Common colour variables

$colourText: black;
$colourTextInverse: white;

$colourBright: #fec97b;
$colourDark: #262625;

$colourMain: #26759e;
$colourMainDark: #133d5b;

$colourGreyLight: #F1F1F1;
$colourGreyLighter: #F6F6F6;
$colourGreyDark: #a09da0;
$colourGreyDarker: #535353;

$colourNeutral: #c0beb8;
$colourNeutralBright: #F5F4F0;
$colourNeutralDark: #61605d;

$colourLink: #FFCC00;
$colourLinkLight: #A7C4FF;
